<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <%for(var i=0;i<questions.length;i++){%>
            <div>
                <form action="/deleteQuery" method="POST">
                <%=questions[i]%>
                <button type="submit" value="<%=questions[i]%>" name="delete">Delete</button>
                </form>
            </div>
            <%}%>
        <form action="/form" method="POST">
            <div>
                <input type="text" placeholder="Question" name="question">
                <button type="submit">Add</button>
            </div>
        </form>
        <form action="/createForm" method="POST">
            <button>Create</button>
        </form>
        <script src="" async defer></script>
    </body>
</html>