body{
    font-family: 'Varela Round', sans-serif;

}
#header{
    font-weight: bold;
    font-size: x-large;
}
#header img{
    width: 50px;
    height: 50px;
    /* display: inline-block; */
}
#create img{
    width: 70px;
    height: 70px;
    /* display: inline-block; */
}
#response img{
    width: 100px;
    height: 100px;
    /* display: inline-block; */
}
#response a{
    color: #c4c7c9;
    text-decoration: none;
}
table{
    border-collapse:separate;
    border: 2px solid #E8ECEF;
    background-color: #E8ECEF;
    border-radius: 20px;
    -moz-border-radius:20px;
}
td,th{
    padding: 12px;
}
/* #filled{
    display: inline;

} */
/* h1{
    display: inline-block;
} */

/* .container{
    height: 100vh;
    display:flex;
  flex-direction: column;
  
} */
#create{
    height: 30vh;
    left: 0;
    right: 0;
    background-color: #E8ECEF;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    
    /* color: white; */
    font-weight: bold;
}
#response{
    height: 55vh;
    left: 0;
    right: 0;
    margin-top: 4vh;
}


/* #add{
    border: 5px solid black;
    color: white;
    background-color:  black;
    border-radius: 8px;
    
} */
#header{
    display:flex;
    align-items:center;
    height: 15vh;
}
.card{
    border: none;
}

.written{
    background-color: #E8ECEF;
    margin-top: 2%;
    margin-bottom: 2%;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    padding: 1% 5px;
    /* margin: auto;
    width: 50%; */
}
.written button{
    border: none;
}
#writing{
    background-color: #E8ECEF;
    padding: 1% 5px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    /* margin-left: 50%; */
    
}
#writing button{
    border: none;
}
#form{
    /* background-color: #E8ECEF; */
    margin: auto;
    width: 80%;
}

textarea{
    margin-bottom: 3px;
}

.create button{
    margin-top: 10px;
}
.queries{
    background-color: #E8ECEF;
    padding: 1% 5px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    margin-top: 2%;
    margin-bottom: 2%;
}
.result{
    margin: auto;
    width: 80%;
}
.message{
    margin: auto;
}
.logout{
    margin-left: auto
}


